template(name="portfolio")
    with content
        .container
            .row
                with topSection
                    h2.white-text.press-start-font= title
                    p.flow-text.white-text= text

            .row
                each cards
                    .col.s12.m6
                        .card.medium
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='#{img}').scrollfire.portfolio
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | #{title}
                                    i.mdi-navigation-more-vert.right
                                with link
                                    p
                                        a(href='#{link}' target="_blank")= text
                            .card-reveal
                                with item
                                    span.card-title.grey-text.text-darken-4
                                        b= title
                                        i.mdi-navigation-close.right
                                    p= text