template(name="cards")
    // TODO: Split into templates?
    with content
        .container
            .row
                h2.center.white-text.press-start-font CV
            .row
                ul.scrollfire(class="cards")
                    each cards
                        li
                            .col.s12.m6
                                .card.card-shadow.shimmer(class="#{color}")
                                    .waves-effect.waves-block.waves-light.cv-card
                                        p.flow-text.press-start-font.center.activator= title
                                        h1.center.activator(class="#{icon}")
                                    .card-content.white
                                        span.card-title.activator.grey-text.text-darken-4
                                            | Read more
                                            i.mdi-navigation-more-vert.right
                                        with link
                                            p
                                                a(href='#{link}' target="_blank")= text
                                    .card-reveal
                                        span.card-title.grey-text.text-darken-4
                                            | #{title}
                                            i.mdi-navigation-close.right
                                        hr
                                        each items
                                            ul
                                                li.flow-text
                                                    p
                                                        b= title
                                                        br
                                                        | #{type}
                                                        br
                                                        i= year
