template(name="venn")
    with content
        .container
            with textSection
                .row
                        h2.white-text.press-start-font= title
                        h5.white-text= subTitle

                .row
                    p.flow-text.white-text= text

            with vennData
                .row
                    #infographic.bubble-up
                        #c1.v-circle
                            p= W
                        #c2.v-circle
                            p= E
                        #c3.v-circle
                            p= S
                        #j12.joined
                            p= N
                        #j23.joined
                            p= SE
                        #j13.joined
                            p= SW
                        #all.joined
                            p= M