template(name="social")
    with content
        .container
            .row
                h2.center.white-text.press-start-font Social

            .row
                // TODO: Split into template
                h4.white-text
                    | Presence
                each socialCards
                    .col.s6.m3
                        .card-panel.social-card.fade-in(class="#{color}")
                            a(href="#{link}" target="_blank").white-text
                                h1.center(class="#{icon}")

            .row
                h4.white-text
                    | Contact

                with contact
                    .col.s12.m6
                        p.flow-text.contact
                            i.mdi-communication-phone.green-text
                            // TODO: Open app?
                            span.white-text= phone
                    .col.s12.m6
                        p.flow-text.contact.modal-trigger(href="#contact_modal")
                            // TODO: Meter Email.send
                            i.mdi-content-mail.green-text
                            span.white-text= mail
                    with modal
                        +contact_modal

            .row
                // Empty space

            .row
                // TODO: Split into template
                h4.white-text
                    | Recommendations

                canvas#pie-chart.pie-chart

                each recommendations
                    p.flow-text.rec(class="#{color}-text")
                        b
                            | #{value}%
                        span= label

            br

            .row
                ul.scrollfire(class="social")
                    each recommendationCards
                        li
                            .col.s12.m12
                                .card.blue.darken-1
                                    .card-content.white-text
                                        span.card-title.press-start-font= title
                                        p
                                            i.mdi-editor-format-quote
                                            span
                                                i= text
                                            span.mdi-editor-format-quote
                                    .card-action
                                        a(href='#{link}' target="_blank") Go to recommendation

